@import "variables";

* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: white;
	&:hover {
		color: white;
	}	
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

@import "header";
@import "navMenu";
@import "main";
@import "salads";